
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-chat-1:before { content: '\e806'; } /* '' */
.icon-folder:before { content: '\e807'; } /* '' */
.icon-newspaper:before { content: '\e808'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e809'; } /* '' */
.icon-question:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-bookmark:before { content: '\e80d'; } /* '' */
.icon-tags:before { content: '\e80e'; } /* '' */
.icon-help-circled:before { content: '\e80f'; } /* '' */
.icon-print:before { content: '\e810'; } /* '' */
.icon-book:before { content: '\e811'; } /* '' */
.icon-tools:before { content: '\e812'; } /* '' */
.icon-chart-bar:before { content: '\e813'; } /* '' */
.icon-book-1:before { content: '\e814'; } /* '' */
.icon-archive:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-stackexchange:before { content: '\f18d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */