/*
 *Telly - Responsive Resume & Portfolio Print Style Sheet v1.0
 *Copyright 2014 8Guild.com
 */
 
body {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-weight: normal;
	color: #000000;
	line-height: 1;
	font-size: 70% !important;
}
a {
	color: #000;
	text-decoration: none;
}
.sidebar-wrap-left,
.sidebar-wrap-right {
	width: 260px;
	height: 380px !important;
	float: left;
	position: relative;
	margin-right: 30px;
}
.sidebar {
	min-height: 0;
	margin-bottom: 20px;
}
.sidebar img {
	width: 260px;
}
h1 {
	display: block;
	width: 100%;
	position: absolute;
	font-size: 28px;
	top: -30px;
	left: 290px;
}
h2 {
	font-size: 17px;
	margin-bottom: 5px;
}
h4 {
	color: #e74c3c;
}
.sidebar h3 {
	display: block;
	width: 100%;
	position: absolute;
	font-size: 19px;
	top: 20px;
	left: 290px;
	color: #666;
}
.sidebar h2 {
	margin-bottom: 0px;
}
.experience-block h2 {
	margin-bottom: 10px;
}
.date {
	color: #666;
}
.content-left section,
.content-right section {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #666;
}
.contact-details-wrap {
	position: absolute;
	width: 100%;
	top: 65px;
	left: 290px;
	line-height: 1.3;
}
.contact-details p {
	font-size: 13px;
}
.intro {
	padding-top: 190px !important;
}
.strength img {
	display: none;
}
.portfolio, #portfolio, #contact-form, #social, #files,
.files, footer, .recommend img, #recommend img, 
.skills .column, #skills .column { display: none; }
.skills .title, #skills .title {
	font-size: 13px;
	line-height: 1.3;
}
 
